.userpanelGA {
    width: 80%;
    height: 960px;
    border-radius: 7px 0px 0px 0px;
    margin-left: 20%;
    margin-top: -962px;
    border: 1px solid #E5E5E5;
    background-color: #FFFFFF;
}
.userpanelGA .generalaccessblacklogo {
    width: 25.5%;
    margin-top: 37px;
    margin-left: -2.8%;
}
.userpanelGA .generalaccessblacklogo img {
    left: 23%;
    position: absolute;
    top: 141px;
}
.userpanelGA span.generalaccessblacklogolabel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #4B4B4B;
    margin-left: 84px;
}
.userpanelGA .title {
    padding-left: 112px;
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #4B4B4B;
    margin-top: 10px;
    margin-left: -10%;
}
.userpanelGA span.titlelabel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #4B4B4B;
}
.selectandsubmitboxGA {
    box-sizing: border-box;
    width: 97%;
    height: 82px;
    background: #F5F5F5;
    border-bottom: 1px solid #E4E4E4;
    margin-left: 16px;
    border-radius: 15px;
}
.userpanelGA .selectandsubmit {
    display: flex;
    flex-direction: row;
    margin-top: 38px;
    width: 93%;
    margin-left: 35px;
    padding-top: 16px;
}
.userpanelGA .css-b62m3t-container {
    width: 25%;
    left: 1%;
    height: 43px;
}
.userpanelGA .css-135pyv4-control {
    border: 1px solid #E5E5E5;
}
.userpanelGA button.submitbutton {
    width: 118px;
    height: 35px;
    background: #19A3D1;
    border-radius: 5px;
    border-color: transparent;
    color: #FFFFFF;
    position: absolute;
    left: 89%;
}
.userpanelGA span.submitlabel {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.005em;
}
.userpanelGA .submitbutton:hover {
    background-color: #FFFFFF;
    border-color: #159CD0;
    color: #159CD0 !important; 
  }
  .selectnotrequire{
    display: none;
  }
  .selectrequire{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2px 10px;
        gap: 10px;
        position: relative;
        width: 152px;
        height: 18px;
        left: -18.9%;
        top: 42px;
        background: #FFFFFF;
        border: 0.2px solid #BCBCBC;
        border-radius: 5px;
  }
  .requirelabel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #E43626;
}
.requirelogo{
width: 12px;
height: 12px;
}

  /* Popup Modal Style*/
  .GAModal {
    box-sizing: border-box !important;
    position: relative !important;
    width: 462px !important;
    height: 192px !important;
    background: #FFFFFF !important;
    border: 1px solid #BDBDBD !important;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25) !important;
    border-radius: 15px !important;
    margin-left: 31% !important;
    margin-top: 236px !important;
}
.ReactModalPortal p {
    position: absolute;
    width: 345.49px;
    height: 62.92px;
    left: 88.2px;
    top: 47px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #4B4B4B;
}
button.yesbutton {
    position: absolute;
    width: 92px;
    height: 38px;
    left: 231px;
    top: 114px;
    background: #47B861;
    border-radius: 5px;        
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    cursor: pointer;
}
button.nobutton {
    position: absolute;
    width: 92px;
    height: 38px;
    left: 343px;
    top: 114px;
    background: #AFAFAF;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    cursor: pointer;
}
.userpanelGA .success-modal {
    box-sizing: border-box;
    position: fixed;
    width: 85%;
    height: 120px;
    background: #47B861;
    border: 1px solid #BDBDBD;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-left: -12%;
    top: 80%;
}
.userpanelGA .success-modal span.close-symbol {
    position: absolute;
    left: 94%;
    top: 19px;
    color: white;
    height: 74px;
    font-size: 34px;
    cursor: pointer;
}
.userpanelGA .success-modal h1 {
    position: absolute;
    width: 254px;
    height: 35px;
    left: 68px;
    top: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}
.userpanelGA .success-modal h2 {
    position: absolute;
    width: 578px;
    height: 33px;
    left: 46px;
    top: 52px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}
.userpanelGA .failure-modal {
    box-sizing: border-box;
    position: fixed;
    width: 85%;
    height: 120px;
    background: #FFE195;
    border: 1px solid #BDBDBD;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-left: -12%;
    top: 80%;
}
.userpanelGA .failure-modal span.close-symbol {
    position: absolute;
    left: 94%;
    top: 19px;
    color: #4A4B50;
    height: 74px;
    font-size: 34px;
    cursor: pointer;
}
.userpanelGA .failure-modal h1 {
    position: absolute;
    width: 362px;
    height: 35px;
    left: 68px;
    top: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 35px;
    color: #4A4B50;
}
.userpanelGA .failure-modal h2 {
    position: absolute;
    width: 640px;
    height: 33px;
    left: 61px;
    top: 52px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.005em;
    color: #4a4b50;
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
.userpanelGA .generalaccessblacklogo img{
    left: 21%;
    top: 161px;
}
.userpanelGA span.generalaccessblacklogolabel{
    font-size: 17px;
    margin-left: 30px;
}
.selectandsubmitboxGA {
    width: 95%;
    border-radius: 15px;
}
.userpanelGA .title{
    margin-left: -26%;
    display: flex;
    flex-direction: column;
}
span.titlelabel2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #4B4B4B;
}
.css-135pyv4-control {
    margin-top: 10px;
}
.userpanelGA button.submitbutton{
    left: 79%;
    top: 248px;
}
.GAModal{
    margin-left: 23% !important;
}
.selectrequire{
    left: -24.9%;
}
.userpanelGA .failure-modal{
    margin-top: -239px;
}
.userpanelGA .success-modal{
    margin-top: -239px;
}
.userpanelGA .failure-modal h1{
    left: 23px;
}
.userpanelGA .failure-modal h2{
    left: 15px;
}
}
@media only screen and (max-width: 767px)  {
    .userpanelGA{
        margin-left: 44%;
    }
    .userpanelGA button.submitbutton{
        left: 101%;
    }
    .userpanelGA .generalaccessblacklogo img{
        left: 45%;
    }
    .userpanelGA span.generalaccessblacklogolabel{
        margin-left: 38px;
    }
}