.userpanel {
    width: 80%;
    height: 960px;
    border-radius: 7px 0px 0px 0px;
    margin-left: 20%;
    margin-top: -962px;
    border: 1px solid #E5E5E5;
    background-color: #FFFFFF;
}
.userpanel .userlogo {
    width: 25%;
    margin-top: 37px;
    margin-left: 28px;
}
.userpanel .userlogo img {

    padding-left: -25px;
    margin-left: -76px;
}
.userpanel span.userlogolabel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #4B4B4B;
    margin-left: 5px;
}
.userpanel .title {
    padding-left: 38px;
    width: 38%;
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #4B4B4B;
    margin-top: 10px;
    margin-left: -12%;
}
.userpanel span.titlelabel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #4B4B4B;
}
.tick {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #2ecc71;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    border-radius: 50%;
    margin-left: 5px;
    display:none;
  }
  table.mouselinetable {
    position: absolute !important;
    top: 39px !important;
    left: 0px !important;
    max-height: 150px !important;
    overflow-y: scroll !important;
    border-collapse: collapse !important;
    width: 354px !important;
    z-index: 9999;
}

tbody.mouselinetablebody {
    box-sizing: border-box;
    background: #FFFFFF;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #B9B9B9;
    border-radius: 2px;
    position: absolute;
    width: 329px;
    height: 150px;
    max-height: 150px;
    overflow-y: scroll;
}
td.multicheckbox {
    width: 50px;
    border-bottom: 2px solid #B9B9B9;
}
td.multitabledata {
    width: 300px;
    border-bottom: 2px solid #B9B9B9;
    /* align-items: start; */
    text-align: start;
}
.mouselinetablebody tr.table-row {
    height: 30px;
}
.mouselinetableinput input[type="text"] {
    background-color: #ececec;
    height: 38px;
    position: relative;
    top: 0px;
    width: 263px;
    z-index: 9998;
}
.MuiAutocomplete-root.MuiAutocomplete-hasPopupIcon.css-18nc3u2 {
    display: none;
}
.buttons-container {
    display: flex;
    flex-direction: column;
    width: 30px;
    background-color: #09c;
    height: 34px;
    left: 247px;
    position: absolute;
    top: 2px;
    border: 1px solid #09c;
    z-index: 9998;
    display: none;
}
button.plusbutton {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 10px;
    left: 2px;
    position: absolute;
    top: 0px;
    /* z-index: 9999; */
    border: 2px solid #09c;
    width: 25px;
}
span.plusbuttonlabel {
    color: #09c;
    font-size: 10px;
    left: 8px;
    padding-top: -8px;
    position: absolute;
    top: -4.5px;
}
button.minusbutton {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 10px;
    left: 2px;
    position: absolute;
    top: 23px;
    width: 25px;
    z-index: 9999;
    border: 2px solid #09c;
}
span.recordcount {
color: #fff;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
    left: 2px;
    letter-spacing: .01em;
    line-height: 19px;
    position: relative;
    top: 6px;
}
.userpanel .selectandsubmit {
    display: flex;
    flex-direction: row;
    margin-top: 38px;
    border-bottom: 1px solid #7B7B7B;
    width: 93%;
    margin-left: 35px;
}
.userpanel .css-b62m3t-container {
    width: 30%;
    left: -10%;
    margin-left: 3%;
    height: 43px;
}
.userpanel .css-135pyv4-control {
    border: 1px solid #E5E5E5;
}
.userpanel button.submitbutton {
    width: 17%;
    height: 37px;
    background: #19A3D1;
    border-radius: 5px;
    border-color: transparent;
    color: #FFFFFF;
    margin-left: 25%;
}
.userpanel span.submitlabel {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.005em;
}
.userpanel .submitbutton:hover {
    background-color: #FFFFFF;
    border-color: #159CD0;
    color: #159CD0 !important; 
  }
  .userpanel .tablepanel {
    position: absolute;
    width: 76.9%;
    height: 86px;
    margin-left: 35px;
    margin-top: 28px;
    background: #F5F5F5;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 0 0;
}
.userpanel .tablesearch {
    width: 0%;
    height: 46px;
    background: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    border-radius: 10px;
    padding-left: 17px;
    position: relative;
    display: inline-block;
    margin-left: -98%;
}
input.tablesearchbox {
    margin-top: 6px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    width: 333px;
    height: 33px;
}

.searchlogo {
    position: absolute;
    top: 50%;
    left: 23px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;   
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tablesearchbox {
    padding-left: 30px; /* make room for the search icon */
  }  
  
  .tablesearchbox::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../Logos/searchlogo.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tablesearchbox:focus {
    outline: none; /* remove the default focus outline */
    border: 1px solid #E5E5E5; 
  }
.tableSelectAll {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    /* max-width: 100%; */
    color: rgba(0, 0, 0, 0.87);
    background-color: #F5F5F5;
    /* padding-right: 11px; */
    padding-left: -2px;
    left: 0px;
    top: -2px;
    /* border-radius: 30px 0px 0px 0px; */
    border-top: 1px solid #C0BFBB;
}
.userpanel input.selectall {
    border: 1.5px solid #6d6d6d;
    left: 25px;
    margin-left: 25px;
    width: 18px;
    accent-color: #6D6D6D;
    appearance: auto;
    top: 10px;
}
span.header {
    padding-top: 10px;
    padding-left: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #4B4B4B;    
    position: absolute;
    left: 96px;
}
span.headerbutton {
    position: absolute;
    left: 339px;
    top: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #4B4B4B;
    opacity: 0.8;
}
input.itemcheckbox.hidden{
    display:none;
}
.sc-ePzlA-D.dlUCce.my-custom-table .sc-gTRrQi.kryIMW.rdt_TableHead{
    display: none;
}
.userpanel nav.rdt_Pagination{
    margin-top: 113px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 15px 15px;
    width: 96.2%;
    margin-left: 35px;
}
.userpanel .kFkqPg{
    display: none;
}
.my-custom-table button.sc-kPTPQs.goNLsO:hover {
    background-color: transparent;
}
.my-custom-tableinside .sc-gTRrQi.kryIMW.rdt_TableHead{
    display:none;
}
.my-custom-table .rdt_TableRow :nth-child(2){
    margin-left: -17px;
}
.my-custom-tableinside .rdt_TableRow :nth-child(2){
    margin-left: 0;
    left: -26px;   
    z-index: 1;
}
img.plustodown {
    position: relative;
    left: 7px;
    top: -6px;
}
.my-custom-tableinside .rdt_TableRow :nth-child(1){
    left: 47px;
}
[data-column-id="1"]{
    order:-1;
    min-width: 64px;
}
.my-custom-tableinside [data-column-id="2"] {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #4B4B4B;
    left: -22px; 
    padding-left: 0;
    padding-right: 0;
}
.userpanel .my-custom-table {
    position: relative;
    width: 93.8%;
    border-radius: 3px;
    overflow: visible;
    margin-left: 33px;
    top: 113px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    height:auto;
    border-inline-start: 5px solid #089CCD;
    border: 1px solid #F5F5F5;
}
nav.sc-ejWHKt.fPIktX.rdt_Pagination {
    width: 93.8%;
    margin-left: 33px;
    margin-top: 114px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 15px 15px;
    border-top: none;
}
.sc-fFGjHI.sc-gxYJeL.hXlnOW.erSALB.rdt_TableCell{
    display: none;
}
.input.itemcheckbox{
    border: 1.5px solid #6D6D6D;
    width:18px;
} 
input.itemcheckbox{
    width: 18px;
    height: 18px;
}

.sc-fFGjHI.sc-ispOId.hXlnOW.dkQmCI {
    margin-left: -12px;
}
.iSTDqN{
    justify-content: normal !important;
    min-width: 40px !important;
    left: 10px;
}
.userpanel .my-custom-table .rdt_Table {
    width: 925px !important;
}
.my-custom-tableinside .rdt_Table {
    width: 892px !important;
}
.my-custom-tableinsideduplicate {
    overflow: unset;
}
.my-custom-tableinsideduplicate .rdt_TableRow{
    min-height: 46px;
    margin-left: -40px;
}
.glYZmF div:first-child{
    white-space: unset;
}
button.deleteownerlevelpopup {
    left: 125px;
    position: absolute;
    top: 21px;
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    border: none;
}

/*.my-custom-table .rdt_TableBody * {
    background-color: transparent ;
}
.my-custom-tableinside .rdt_TableRow{
    height:46px;
}*/
.buttons-defaultsharing {
    position: absolute;
    top: -1px;
}
.my-custom-table button.no {
    background-color: #AFAFAF;
    border-radius: 2px;
    position: absolute;
    width: 106.09px;
    height: 30px;
}
.my-custom-table button.yes {
    background-color: #AFAFAF;
    border-radius: 2px;
    position: absolute;
    width: 106.09px;
    height: 30px;
}
button.viewdisable {
    background-color: #afafaf;
    border-radius: 2px;
    height: 30px;
    position: absolute;
    width: 70.09px;
    top: 4px;
    margin-left: 77px;
    z-index:1;
}
button.viewenable {
    background-color: #afafaf;
    border-radius: 2px;
    height: 30px;
    position: absolute;
    width:70.09px;
    top: 4px;
    margin-left: 77px;
    z-index: 1;
}
button.editdisable {
    background-color: #afafaf;
    border-radius: 2px;
    height: 30px;
    position: absolute;
    width: 70.09px;
    top: 4px;
    left: 61px;
    z-index:1;
    margin-left: 59px;
}
button.editenable {
    background-color: #afafaf;
    border-radius: 2px;
    height: 30px;
    position: absolute;
    width: 70.09px;
    top: 4px;
    left: 61px;
    z-index: 1;
    margin-left: 59px;
}
.secbreak2 {
    width: 2px;
    height: 100%;
    background-color: #ccc;
    left: 22px;
    position: relative;
    margin-left: 64px;
}
button.createdisable {
    background-color: #afafaf;
    border-radius: 2px;
    height: 30px;
    position: absolute;
    width: 70.09px;
    top: 4px;
    left: 60px;
    z-index:1;
}
button.createenable {
    background-color: #afafaf;
    border-radius: 2px;
    height: 30px;
    position: absolute;
    width: 70.09px;
    top: 4px;
    left: 60px;
    z-index: 1;
}
button.transferdisable {
    background-color: #afafaf;
    border-radius: 2px;
    height: 30px;
    position: absolute;
    width: 70.09px;
    top: 4px;
    left: 54px;
    z-index:1;
    margin-left: -13px;
}
button.transferenable {
    background-color: #afafaf;
    border-radius: 2px;
    height: 30px;
    position: absolute;
    width: 70.09px;
    top: 4px;
    left: 54px;
    z-index: 1;
    margin-left: -13px;
}
/*.userpanel .rdt_TableBody  {
    height: 79px;
  }*/
  .selecteduserrow {
    background-color: yellow;
  }
.goNLsO:click{
    background-color: red;
}
.goNLsO:hover:not(:disabled){
    background-color: transparent;
}
.sc-kcuKUB.cYetCK.rdt_ExpanderRow {
    border: 1px solid #E5E5E5;
    width: 95%;
    margin-left: 41px;
}
.border-bottom{
    border-bottom: 1px solid #E5E5E5;
}
.border-bottomname{
    border-bottom: 1px solid #E5E5E5;
}
.sc-kcuKUB.cYetCK.rdt_ExpanderRow{
    border:none;
}
.sc-kcuKUB.cYetCK.rdt_ExpanderRow nav.sc-ejWHKt.fPIktX.rdt_Pagination{
    display:none;
}
.my-custom-tableinside {
    position: relative;
    width: 100.8%!important;
    border-radius: inherit;
    overflow: visible !important;
    margin-left: -0.9%;
    top: 3px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    /*border-bottom: none;*/
    border-inline-start: 5px solid #089CCD;
}
.tableSelectAll2 {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 103.5%;
    height: 40px;
    /* max-width: 100%; */
    color: rgba(0, 0, 0, 0.87);
    background-color: #F5F5F5;
    /* padding-right: 11px; */
    /* border-radius: 30px 0px 0px 0px; */
    border: 1px solid #C0BFBB;
    left: -0.9%;
    top: -1px;
    align-items: center;
    width: 891.5px;
}
.my-custom-tableinside .sc-dPwPAC.iAyHfm.rdt_TableBody {
    width: 887px;
}
.my-custom-tableinside .sc-fFGjHI.sc-ispOId.hXlnOW.dkQmCI{
    visibility: hidden;
}
input.selectall1 {
    border: 1.5px solid #6d6d6d;
    height: 18px;
    left: 12px;
    width: 26px;
    position: relative;
}
img.dropdown1 {
    width: 8px!important;
    position: relative;
    left: 7px;
}
img.dropdownrotate1
{
    width: 8px!important;
    position: relative;
    left: 7px;
    transform: rotate(90deg);
}
span.louselinelabel{
    position: relative;
    left: 90px;
    width: 294px;
}
.my-custom-tableinside2 .sc-fFGjHI.sc-ispOId.hXlnOW.dkQmCI{
    visibility: hidden;
}
input.itemcheckbox2 {
    height: 18px;
    width: 15px;
}
input.selectall2 {
    margin-left: 14px;
    width: 18px;
    height: 18px;
    left: 12px;
    border: 1.5px solid #6D6D6D;
}
.my-custom-tableinside2 .sc-gTRrQi.kryIMW.rdt_TableHead{
    display:none !important;
}
input.itemcheckbox2 {
    width: 18px;
    height: 18px
}
.line1 {
    position: absolute;
    margin-left: -51px;
    padding-top: 14px;
    top: 8px;
    align-items: centre;
    top: 1px;
    width: 33px;
    display: inline-block;
    border-bottom: 2px solid #089CCD;
}
.line3 {
    position: absolute;
    margin-left: -34px !important;
    padding-top: 14px;
    top: 8px;
    align-items: centre;
    top: 1px;
    width: 33px;
    display: inline-block;
    border-bottom: 2px solid #089CCD;
}
span.header2 {
    margin-left: 52px;
}
span.header3 {
    margin-left: 59px;
}
span.header4 {
    margin-left: 79px;
}
span.header5 {
    margin-left: 82px;
}
span.header5 {
    margin-left: 82px;
}
.emptyheight1 {
    height: 8px;
}
.userpanel .my-custom-tableinside2{
    position: relative;
    width: 101%;
    border-radius: inherit;
    overflow: visible;
    margin-left: 1px;
    top: 3px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-inline-start: 5px solid #E5E5E5;
    border: 1px solid #F5F5F5;
}
.my-custom-tableinside2 .rdt_TableRow {
    border-bottom: 1px solid #ddd4d4;
    width: 102%;
    height: 50px;
}
.hideRow {
    display: none;
  }
.tableSelectAll3 {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 103.7%;
    height: 40px;
    /* max-width: 100%; */
    color: rgba(0, 0, 0, 0.87);
    background-color: #F5F5F5;
    /* padding-right: 11px; */
    /* border-radius: 30px 0px 0px 0px; */
    border: 1px solid #C0BFBB;
    padding-left: -2px;
    left: -26px;
    top: 2px;
    align-items: center;
}
img.dropdown2 {
    width:8px !important;
    margin-left: 12px;
}
span.access1 {
    left: 40px;
    width: 132px;
    position: relative;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
}
span.view1 {
    left: -38px;
    position: relative;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    width: 273px;
}
span.edit1 {
    margin-left: 60px;
    position: relative;
    left: 17px;
}
span.create1 {
    left: 11px;
    margin-left: -98px;
    position: relative;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    width: 500px;
}
span.secbreak {
    width: 2px;
    height: 100%;
    background-color: #ccc;
    left: -89px;
    position: relative;
}
span.transfer1 {
    margin-left: 68px;
}
span.access2 {
    margin-left: 19px;
}
span.view2 {
    margin-left: 42px;
}
span.edit2 {
    margin-left: 77px;
}
span.create2 {
    margin-left: 91px;
}
span.transfer2 {
    margin-left: 56px;
}
img.dropdownrotate2
{
    width:8px !important;
    margin-left: 12px;
    transform: rotate(90deg);
}
.emptyheight2 {
    height: 17px;
}
  .sc-ePzlA-D.dlUCce.my-custom-tableinside2{
    width: 103.5%;
    margin-left: -30px;
  }
  input.itemcheckbox3 {
    width: 18px;
    height: 18px
}
.line2 {
    position: absolute;
    margin-left: -26px;
    padding-top: 14px;
    top: 8px;
    align-items: centre;
    top: 1px;
    width: 16px;
    display: inline-block;
    border-bottom: 2px solid #089CCD;
}
.line4 {
    position: absolute;
    margin-left: -21px;
    padding-top: 14px;
    top: 8px;
    align-items: centre;
    top: 1px;
    width: 22px;
    display: inline-block;
    border-bottom: 2px solid #089CCD;
}
  .emptyheight3 {
    height: 15px;
}
button.deleteownerlevel {
    background-color: transparent;
    border: none;
    position: absolute;
    left: 385px;
    top: -1px;
    font-size: 22px;
    color: #6D6D6D;
    z-index: 1;
}
button.deletesharelevel {
    background-color: transparent;
    border: none;
    color: #6d6d6d;
    font-size: 22px;
    left: 170px;
    position: absolute;
    top: 1px;
    z-index: 1;
}
.userpanel .success-modal {
    box-sizing: border-box;
    position: fixed;
    width: 85%;
    height: 120px;
    background: #47B861;
    border: 1px solid #BDBDBD;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-left: -12%;
    top: 80%;
}
.userpanel .success-modal span.close-symbol {
    position: absolute;
    left: 94%;
    top: 19px;
    color: white;
    height: 74px;
    font-size: 34px;
    cursor: pointer;
}
.userpanel .success-modal h1 {
    position: absolute;
    width: 254px;
    height: 35px;
    left: 68px;
    top: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}
.userpanel .success-modal h2 {
    position: absolute;
    width: 578px;
    height: 33px;
    left: 46px;
    top: 52px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}
.userpanel .failure-modal {
    box-sizing: border-box;
    position: fixed;
    width: 85%;
    height: 120px;
    background: #FFE195;
    border: 1px solid #BDBDBD;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-left: -12%;
    top: 80%;
}
.userpanel .failure-modal span.close-symbol {
    position: absolute;
    left: 94%;
    top: 19px;
    color: #4A4B50;
    height: 74px;
    font-size: 34px;
    cursor: pointer;
}
.userpanel .failure-modal h1 {
    position: absolute;
    width: 362px;
    height: 35px;
    left: 68px;
    top: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 35px;
    color: #4A4B50;
}
.userpanel .failure-modal h2 {
    position: absolute;
    width: 640px;
    height: 33px;
    left: -25px;
    top: 52px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.005em;
    color: #4a4b50;
}
  /* Popup Modal Style*/
  .GAModal {
    box-sizing: border-box !important;
    position: relative !important;
    width: 462px !important;
    height: 192px !important;
    background: #FFFFFF !important;
    border: 1px solid #BDBDBD !important;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25) !important;
    border-radius: 15px !important;
    margin-left: 31% !important;
    margin-top: 236px !important;
}
.ReactModalPortal p {
    position: absolute;
    width: 345.49px;
    height: 62.92px;
    left: 88.2px;
    top: 47px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #4B4B4B;
}
button.yesbutton {
    position: absolute;
    width: 92px;
    height: 38px;
    left: 231px;
    top: 114px;
    background: #47B861;
    border-radius: 5px;        
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    cursor: pointer;
}
button.nobutton {
    position: absolute;
    width: 92px;
    height: 38px;
    left: 343px;
    top: 114px;
    background: #AFAFAF;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    cursor: pointer;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
.submitsection {
    margin-left: 18px;
}
.title{
    margin-left:-8%;
}
.css-b62m3t-container{
    left:-3%;
}
.css-evngsj-placeholder{
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
}
.tablepanel{
    margin-left: 22px;
}
.sc-ePzlA-D.dlUCce.my-custom-table{
    margin-left: 19px;
}
.my-custom-table .rdt_Table {
    width: 89.5%;
}
nav.sc-ejWHKt.fPIktX.rdt_Pagination{
    margin-left: 19px;
}

}
@media only screen and (max-width: 767px)  {
.userpanel{
    margin-left: 46%;
}
}